body {
  background: #c4c4c4;
  box-sizing: border-box;
  width: 500px;
  margin: 0 auto;
  font-family: "Roboto";
  font-style: normal;
  font-weight: 400;
}

.input-form {
  padding-top: 60px;
}

.search-input {
  box-sizing: border-box;
  background: #fff;
  border: none;
  width: 500px;
  height: 60px;
  padding-left: 14px;
  font-size: 48px;
  line-height: 56px;
}

.select-repo {
  box-sizing: border-box;
  background: #e3e3e3;
  margin: 0;
  padding-left: 0;
  list-style: none;
  font-size: 30px;
  line-height: 35px;
}

.select-repo__item {
  box-sizing: border-box;
  border: 2px solid #000000;
  padding-left: 14px;
  cursor: pointer;
  height: 44px;
}

.select-repo__item:hover {
  background: #65cdf9;
}

.saved-repo {
  margin-top: 45px;
}

.saved-repo__item {
  height: 90px;
  padding: 8px 16px;
  position: relative;
  border: 1px solid #000000;
  background: #e27beb;
}

.saved-repo__item--text {
  margin: 0;
  font-size: 24px;
  line-height: 28px;
}

.btn-del {
  width: 45px;
  height: 42px;
  padding: 0;
  position: absolute;
  bottom: 33%;
  right: 35px;
  border: none;
  cursor: pointer;
  background: url("img/Delete.svg"), no-repeat;
}
.btn-del:hover {
  transform: scale(1.2);
  transition-duration: 300ms;
}
